html, body {
  -webkit-font-smoothing: antialiased;
  color: #222;
  margin: 0;
  padding: 0;
  background: url(../../assets/ladieslearningcode-125x125.gif) 10px -10px no-repeat;
  /*border-top: 7px #b1009a solid;*/
}

.deck-container #presentation {
	
}
.deck-container {
  font-family: 'Istok Web', Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding: 0; /* overriding deck.coder.css */
  padding-left: 145px; 
}
.deck-container h1, .deck-container h2, .deck-container h3 {
	color: #B1009A;
  	font-family: 'Podkova', Arial, sans-serif;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.deck-container strong {
	color: #2E2E2E;
}


.deck-container .slide {
  background: #fff;
  width: 940px;
  height: 100%;
  min-height: 600px;
  border: 3px solid #b1009a;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0 auto;
  padding: 30px 50px 40px 50px;
}

.deck-container .slide-title {
  font-size: 1em;
  text-align: center; 
}
.deck-container .slide-title .workshop_title {
  margin: 30px 0 0 0;
}
.deck-container .slide-title .download_link {
  font-size: 1.3em; 
  letter-spacing: 0.05em;
}
.deck-container .slide-title .download_link a {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.deck-container .instructor_holder {
  width: 560px;
  margin: 110px auto;
}
.deck-container .instructor_holder h2 {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 1.5em;
}
.deck-container .instructor_holder div {
  width: 50%;
  float: left;
}

.deck-container .slide-title h1 {
  font-size: 4em;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-transform: none;
  position: static;
  top: 0%;
}

.deck-container .slide-list h2 {
  font-size: 3.5em;
  padding-bottom: .07em;
  margin-bottom: .1em;
  margin-top: 0;
}
.deck-container .slide-list h3 {
  font-size: 2em;
  margin-bottom: .1em; 
}
.deck-container .slide-list ul, .deck-container .slide-list p {
  font-size: 1.8em;	
}
.deck-container .slide-list ul {
    margin-left: 1em;
    list-style-type: square;
 	margin-bottom: 0.6em;
}
.deck-container .slide-list li {
  padding-left: .5em;
  line-height: 1em;
}
.deck-container .slide-list li ul {
	margin-bottom: 0;
}
.deck-container .slide-list li li {
  font-size: 0.5em;
}
.deck-container .slide-list p {
}

.deck-container .slide-subhead h1 {
  font-size: 4em;
  line-height: 1em;
  margin: 0px;
  padding: 2em 0 0.5em 0;
  position: static;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  text-transform: none;
  top: 0%;
}
.deck-container .slide-subhead h2 {
  font-size: 2em;
  text-align: center;
  margin: 0px;
  padding: 0px;
  padding-top: .1em; 
}
.deck-container .slide-subhead p {
  font-size: 2em;
  text-align: center;
}

.deck-container h1 {
  font-weight: 700;
  letter-spacing: -0.04em;
  font-size: 4em;
  line-height: .9em;
  text-transform: none;
  padding-top: 7em;
}
.deck-container h2 {
  font-weight: 400;
  border: none;
  padding-top: 0;
}
.deck-container h3 {
  font-weight: 800;
}
.deck-container .slide > pre {
  padding:10px;
  border-color: #ccc;
  font-size: 1.2em;
}
.deck-container code {
  color: #888; 
}
.deck-container blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #d3502c; 
}
.deck-container blockquote p {
  margin: 0; 
}
.deck-container blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888; 
}
.deck-container ::-moz-selection, .deck-container ::selection {
  background: #7E006E;
  color: #fff; 
}
.deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
  color: #444;
  text-decoration: underline; 
}
.deck-container a:hover, .deck-container a:focus {
  color: #b1009a; 
  text-decoration: none; 
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #d3502c;
  font-family: serif; 
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff; 
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: #bf0000;
  text-decoration: none; 
}
.deck-container .deck-status {
  font-size: 0.6666em; 
}
.deck-container.deck-menu .slide {
  background: #eee; 
}
.deck-container.deck-menu .deck-current {
  background: #ddf; 
}

/* Logical Operators table */
table.comparison-table {
	width: 460px;
}
table.comparison-table tr {
	border: 1px solid #000;
}
table.comparison-table tr td, table.comparison-table tr th {
	padding: 5px 10px;
}


.deck-container img {
 display: inline;
}

.centered {
  text-align: center;
}

.sidenote {
  font-size: 12px !important; 
}

.stickynote {
  border: 1px solid #ccc;
  background: url(../assets/icon-note.jpg) top left no-repeat;
}
.contains_sidebyside_icons {
  width: 400px;
  margin: 0 auto !important;
}

.sidebyside_download_icon {
  float: left;
  width: 200px;
  text-align: center;
}

.keyword {
	font-weight: 700;
	text-transform: uppercase;
	color: #2E2E2E;
}
.deck-container .reminders {
	background: url("../../assets/icon-reminder.jpg") no-repeat;
	font-size: 1.2em;
	min-height: 60px;
	padding: 8px 0 0 90px;
}
.deck-container .reminders p {
	font-size: 1em;
}
	.deck-container .reminders.single-line p {
		padding-top: 10px;
		margin-bottom: 0;
	}
span.marker {
 	position: absolute;
 	top: 8px;
    right: 15px;
    font-size: 1.3em;    
}
.assignment {
	font-weight: 900;
	color: red;
}

.hint {
	font-style: italic;
}

.deck-container .hint {
	background: url("../../assets/icon-hint.jpg") no-repeat;
	font-size: 1.2em;
	min-height: 60px;
	padding: 8px 0 0 90px;
}
.deck-container .hint p {
	font-size: 1em;
}

.var {
	color: #770088;
}	